:root {
    --primario: #e1e1e1;
    --secundario: #4b43be;
    --tertiary: #F2F2F2;
    --fuentePrincipal: 'Open Sans';
    --blanco: #fff;
    --machingray: #565D6A;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /* outline: 1px solid red; */
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    line-height: 1.5;
    background-color: #202225;
}

img {
    max-width: 100%;
    display: block;
}

[class*="contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.header {
    padding: 5rem 0;
}

.header__barra {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.header__imagen {
    width: 5rem;     
    transition-property: transform;
    transition-duration: 300ms;
}

.header__imagen:hover {
    transform: rotate(8deg) scale(1.1);
}

.header__perfil {
    width: 100%;        
    border-radius: 50%;
    object-fit: cover;
}

.navegacion {
    display: flex;
    gap: 4rem;
}

.navegacion__link {
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.7rem;
}


.navegacion__link:hover {
    color: var(--secundario);
    transition: color;
    transition-duration: 300ms;
}


/* Perfil */

.perfil {
    width: 100%;      
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15rem;
    
}

@media (min-width: 768px) { 
    .perfil {
        width: 90%; 
        margin: 0;       
    }
      
}

@media (min-width: 992px) { 
    .perfil {
        width: 60%;
        margin: 0;
    }
      
}


.perfil__text {
    color: var(--secundario);
}

.perfil__heading {
    font-size: 3.5rem;
    color: var(--blanco);
    font-weight: 700;   
    text-align: center; 
}

@media (min-width: 768px) { 

    .perfil {
        padding-top: 20rem;
    }

    .perfil__heading {
        font-size: 5rem;
        text-align: left;
    }      
}

@media (min-width: 992px) { 
    .perfil {
        padding: 10rem 0 0 0;
    }

    .perfil__heading {
        font-size: 6rem;
        text-align: left;
    }
      
}

.perfil__descripcion {
    font-size: 1.5rem;
    color: var(--blanco);
    font-weight: 400;
    text-align: center;
}

@media (min-width: 768px) { 
    .perfil__descripcion {
        text-align: left;
    }
      
}

@media (min-width: 992px) { 
    .perfil__descripcion {
        font-size: 3rem;        
    }
      
}

.perfil__link {
    display: inline-block;
    text-decoration: none;    
    background-color: var(--secundario);
    padding: 1.5rem 5rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    color: var(--blanco);
}

/* Actually */

.actually {
    padding-top: 10rem;
}

.actually__heading {
    color: var(--secundario);
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 6rem;
    position: relative;
}

.actually__heading::before {
    content: '';
    display: inline-block;
    width: 3rem;    
    border: 1px solid var(--secundario);    
    margin-right: .5rem;
}

.actually__heading::after {
    content: '';
    display: inline-block;
    width: 3rem;    
    border: 1px solid var(--secundario);    
    margin-left: .5rem;
}

.actually__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.actually__link {
    text-decoration: none;
    color: var(--secundario);
    font-weight: 700;
}

/* Experience */

.experience {
    padding-top: 10rem;
}

.experience__heading {
    color: var(--secundario);
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 6rem;
    position: relative;
}

.experience__heading::before {
    content: '';
    display: inline-block;
    width: 3rem;    
    border: 1px solid var(--secundario);    
    margin-right: .5rem;
}

.experience__heading::after {
    content: '';
    display: inline-block;
    width: 3rem;    
    border: 1px solid var(--secundario);    
    margin-left: .5rem;
}

.experience__subheading {
    color: var(--tertiary);
    font-weight: 300;
}

.experience__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.experience__title {
    color: var(--blanco);
    margin: 0;
}

.experience__subtitle {
    color: var(--secundario);
    font-weight: 700;
    margin: 0;
}


.experience__date {
    color: var(--tertiary);
    margin: 0 0 5rem 0;
    font-size: 1.5rem;
}

.experience__description {
    color: var(--tertiary);
    border-top: 2px solid var(--machingray);
    padding: 1.5rem 0 0 0;
}




/* About */

.about {

}

.about__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: dense;
    align-items: center;
}

.about__image {
    grid-column: 4 / 6;
    width: 18rem;
    margin: 0 auto;
}

.about__img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--secundario);
}

.about__contenido {
    grid-column: 1/ 4;
}

.about__heading {
    color: var(--secundario);
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 6rem;
    position: relative;
}

.about__heading::before {
    content: '';
    display: inline-block;
    width: 3rem;    
    border: 1px solid var(--secundario);    
    margin-right: .5rem;
}

.about__heading::after {
    content: '';
    display: inline-block;
    width: 3rem;    
    border: 1px solid var(--secundario);    
    margin-left: .5rem;
}

.about__description {
    color: var(--primario);
    font-size: 1.6rem;
}

/* Tecnologies */

.tecnologies__heading {
    color: var(--secundario);
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 6rem;
    position: relative;
    padding: 10rem 0 0 0;
}

.tecnologies__heading::before {
    content: '';
    display: inline-block;
    width: 3rem;    
    border: 1px solid var(--secundario);    
    margin-right: .5rem;
}

.tecnologies__heading::after {
    content: '';
    display: inline-block;
    width: 3rem;    
    border: 1px solid var(--secundario);    
    margin-left: .5rem;
}

.tecnologies__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 4rem;
}

.tecnologies__image {
    width: 20rem;    
    border-radius: 1.5rem;
    border: 1px solid var(--secundario);
    transition-property: background-color;
    transition-duration: 300ms;
}

.tecnologies__image:hover {
    background-color: var(--secundario);        
}

.tecnologies__img {
    width: 50%;
    margin: 0 auto;  
}

.projects__heading {
    color: var(--secundario);
    text-align: center;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 6rem;
    position: relative;
}

.projects__heading::before {
    content: '';
    display: inline-block;
    width: 3rem;    
    border: 1px solid var(--secundario);    
    margin-right: .5rem;
}

.projects__heading::after {
    content: '';
    display: inline-block;
    width: 3rem;    
    border: 1px solid var(--secundario);    
    margin-left: .5rem;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project {
    grid-column: 2/4;
    margin-bottom: 3rem;
}

.project__link {
    cursor: pointer;
    border-radius: 100rem;
    background-color: var(--secundario);
    padding: .7rem 5rem;
    text-decoration: none;
    color: var(--blanco);
}

.project__link:hover {
    background-color: var(--tertiary);
    color: var(--secundario);
    transition: background-color;
    transition-duration: 300ms;
}

.project__link::after {
    content: '';
    background-image: url(../images/svg/arrow-right.svg);
    background-repeat: no-repeat;
    padding: 1.5rem;    
    background-position-y: 1.6rem;
    background-position-x: 0.5rem;
    background-size: 2.5rem;
}


.project__link:hover::after {
    content: '';
    background-image: url(../images/svg/arrow-right-blue.svg);        
}

.project__subtitle {
    color: #fff;
}

.project__descripcion {
    color: #fff;
}


/* Footer */

.footer {
    padding: 4rem 0 0 0;
}

@media (min-width: 768px) { 
    .footer {
        padding: 18rem 0 0 0;
    }
      
}

@media (min-width: 992px) { 
    .footer {
        padding: 7rem 0 0 0;

    }      
}

.footer__heading {
    color: var(--blanco);
    font-size: 2rem;
    text-transform: uppercase; 
}

.footer__navegacion {
    display: flex;
    flex-direction: column;
}

.footer__link {
    text-decoration: none;
    color: var(--blanco);
}

/* Contacto y Redes  sociales */

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 992px) { 
    .media {
        justify-content: space-between;
        align-items: end;

    }
      
}

.media__title {
    color: var(--blanco);    
}

.media__social {
    display: flex;
    gap: 2rem;
}

.copyright {
    text-align: center;
    margin: 0 auto;
    color: var(--blanco);
    border-top: 2px solid var(--blanco);
    padding: 1rem;
    max-width: 120rem;
    font-size: 1.4rem;
}

.media__link {
    text-decoration: none;
    color: var(--blanco);
}

.media__link::before {
    content: '';
    padding: 2rem;
    display: inline-block;        
    background-repeat: no-repeat;    
}

[href*="github"]::before {
    background-image: url(../images/svg/github.svg);
}

[href*="github"]:hover:before {    
    background-image: url(../images/svg/github-blue.svg);
    transition: background-color;
    transition-duration: 300ms;
}

[href*="twitter"]::before {
    background-image: url(../images/svg/x.svg);
}

[href*="twitter"]:hover:before {    
    background-image: url(../images/svg/x-blue.svg);
    transition: background-color;
    transition-duration: 300ms;
}

[href*="linkedin"]::before {
    background-image: url(../images/svg/linkedin.svg);
}

[href*="linkedin"]:hover:before {    
    background-image: url(../images/svg/linkedin-blue.svg);
    transition: background-color;
    transition-duration: 300ms;
}


.accesible {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 5px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    display: block;
}